{% extends "base.html" %}

{% block content %}
<div class="text">
<h3>{{ text }}</h3>
<p>{{ text.text }}</p>
</div>
<div class="flashcard-list">
  <h3>Linked Gemaracards</h3>
  <ul>
    {% for flashcard in text_flashcards %}
      <li><a class="flashcard-link" data-toggle="modal" data-target="#basicModal" flashcard="{{ flashcard.pk }}">{{ flashcard.vocab_term }}</a></li>
    {% endfor %}
  </ul>
</div>
<div>
  {% if user_flashcards %}
    <a class="flashcard-link-list btn btn-primary" data-toggle="modal" data-target="#basicModal" text-pk="{{ text.pk }}">Link a Gemaracard</a>
  {% endif %}
  <a href="{% url 'flashcard_new' %}" class="btn btn-primary" role="button">New Gemaracard</a>
</div>
<div class="modal fade" id="basicModal" tabindex="-1" role="dialog" aria-labelledby="basicModal" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-body" id="insert-flashcard">
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
<script>
  $(document).ready(function(){
    $('.flashcard-link').click(function(){
      var flashcardId = $(this).attr('flashcard');
      var flashcardUrl = '/flashcard/modal/' + flashcardId + '/';
      $('#insert-flashcard').load(flashcardUrl);
    });
    $('.flashcard-link-list').click(function(){
      var textPk = $(this).attr('text-pk');
      $('#insert-flashcard').load('/link-flashcard-list/' + textPk + '/');
    });
  });
</script>
{% endblock %}
